/* profile.css */
html {
  background-color: #536882;
}

body {
  background: none;
  color: #2c3e50;
  font-family: "Lucida Console", Lucida, monospace;
}

strong {
  color: #222324;
}

.navbar {
  background: #78899e;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #e74c3c;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  /*background-image: url();*/
  background-repeat: repeat-x;